{% extends 'easystay.html' %}

{% block body-content %}
{% load static %}
<main>
  <div id="about"><b>
    <pre class="abt">
      EASY_STAY provides a hostel booking service. It is designed to make
      business stays more convenient while also ensuring that workers and
      customer's have a comfortable place to stay at all times.
    </pre>

    <pre class="abt">
      Hostels are easy to locate and comfortable accommodations may be found
      with ease. If it's convenient, we can quickly check out every hostel and
      make reservations for beds there. It is a type of low-cost, short-term
      shared convivial lodging in which people can rent a bed in a dormitory and
      share use of a lounge and, occasionally, a kitchen,regular cleaning and
      maintenance schedules for common areas, toilets, and bathrooms,a second
      home for the ones who reside in the same.
    </pre>

    <pre class="abt">
      It prevents the need for administrators to provide paper-based
      registration forms, billing, maintenance, or track the entry of students,
      visitors, or guests under their control,to create a comfortable living
      environment for students.
    </pre>

    <pre class="abt">
      Automating and streamlining the process of room allocation.
    </pre></b>
  </div>
  <div>
    <img src="{% static 'images/hostel.png' %}" alt="" height="350px" width="550px" id="hostel">
  </div>
</main>

{% endblock body-content %}
