{% extends 'home_page.html' %}
{% block content %}
<hr class="my-4">
<main>
  <div class="container">
  <div class="row">
    <div class="col-md-7 col-lg-8">
      <h1 class="mb-3">Bed Delete details</h1>
      <form class="needs-validation" method="post" >
          {% csrf_token %}
        <div class="row g-5">
          <div class="">
            <h4>Are you sure delete Bed id: {{Bed.bed_id}}</h4>
            <h4>Bed No: {{Bed.bed_no}}</h4>
          </div>
        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to Delete</button>
      </form>
    </div>
  </div>
</div>
</main>
<hr class="my-4">

    {% endblock content %}