<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASY_STAY</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forgetpass.css' %}">
    <link rel="shortcut icon" href="{% static 'images/Imagelogo2.jpg' %}">
<style>
    body{
        background-image: url('{% static "images/forgetpassword.avif" %}');
        background-repeat: no-repeat;
        background-size:80% 121vh;
    }

</style>
</head>
<body>  
    <div>
        {% include 'partials/_header.html' %}
    </div>
    {% for i in messages %}
    <h4 class="i">{{i}}</h4>
    {% endfor %}
    <form action="" method="post" id="email">
        {% csrf_token %}
        <label for="id_email" class="lab">Email:</label>
        <input type="email" name="email" id="id_email" class="emailid"><br>
        <input type="submit" value="send otp" class="otp">
    </form>
</body>
</html>