{% extends 'home_page.html' %}
{% block content %}
{% for i in messages %}
<h4 class="i">{{i}}</h4>
{% endfor %}
<hr class="my-4">
<main>
  <div class="container">
  <div class="row">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Forgot Password</h4>
      <form class="needs-validation" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="row g-5">
          <div class="">
            <label for="id_email" class="lab">Email:</label>
            <input type="email" name="email" id="id_email" class="emailid" required><br>
          </div>
       
        <button class="w-100 btn btn-primary btn-lg" type="submit" class="otp">Send otp</button>
      </form>
    </div>
  </div>
</div>
</main>
<hr class="my-4">

{% endblock content %}