<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME_PAGE</title>
    <style>
        button{
            height: 50px;
            width: 150px;
            color:red;
            font-size: large; 
            
        }
        button:hover{
            background-color: black;
        }
    </style>
</head>
<body>
   <div style="border: 2px solid;background: #42a2c2; display: flex; align-items: center;height: 80px;">
    <div style="border: 2px solid;padding-left: 40%;width: 300px;"> 
        <span ><h1 style="border: 6px solid green; height: 50px;width: 210px;">HOME_PAGE</h1></span>
    </div>
   </div>
    <div style="border: 2px solid;justify-content: space-evenly;display: flex; height: 500px;padding-top: 100px;background: #79f2e4;">
        <a href="{% url 'products:list_cat' %}"><button>OWNER</button></a>
        <a href="{% url 'products:pro_index' %}"><button>CUSTOMER</button></a>
    </div>


</body>
</html> -->