<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hostel Update</h1>
        <form action="" method="post">
            {% csrf_token %}
                <label for="id_name">hostel_name</label>
                <input type="text" name="name" id="id_name" value="{{form.hostel_name}}"><br>

                <label for="id_type">hostel_type</label>
                <input type="text" name="type_of_hostel" id="id_type" value="{{form.type_of_hostel}}"><br>

                <label for="id_phone_no">owner_phone_no</label>
                <input type="text" name="phone_no" id="id_phone_no" value="{{form.owner_phone_no}}"><br>

                <label for="id_email">owner_email</label>
                <input type="text" name="email" id="id_email" value="{{form.owner_email}}">
                <br>
                <input type="submit" value="update">
        </form>  
</body>
</html>