<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Page</title>
</head>
<body>
    <h1>List Page</h1>
    {% csrf_token %}
    <table border="2" cellpadding="5" cellspacing="0">
        <tr>
            <th>Hostel_Name</th>
            <th>Room_Details</th>
        </tr>
            {% for i in hostel_details %}
            <tr>
                <td>{{i.hostel_name}}</td>
                <td>
                    <table border="2" cellpadding="5" cellspacing="0">
                        <tr>
                            <th>Room_num</th>
                            <th>Bed Details</th>
                        </tr>
                        {% for j in room_details %}
                        {% if j.hostel_id == i %}
                        <tr>
                            <td>{{j.room_no}} </td>
                            <td>
                            <table border="2">
                                <tr>
                                        <th>Bed_num</th>
                                        <th>Cost</th>
                                        <th>Availability</th>
                                </tr>
                                {% for k in bed_details %}
                                {% if j == k.room_no %}
                                <tr>
                                    <td>{{k.bed_no}}</td>
                                    <td>{{k.bed_cost}}</td>
                                    <td>{{k.availability}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </table>
                            </td>   
                        </tr>
                        {% endif %}
                        {% endfor %}
                   </table>
                </td>             
            </tr>
             {% endfor %}
    </table>
</body>
</html>