<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>owner_Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/regis.css' %}">
    <link rel="shortcut icon" href="{% static 'images/Imagelogo2.jpg' %}">
    <style>
     body{
    background-image: url('{% static "images/reg-home.jpg" %}');
    background-repeat: no-repeat;
    background-size:100% 110vh;

}
    </style>
</head>
<body>
    <div>
        {% include 'partials/_header.html' %}
    </div>
<!-- <marquee id="marquee" direction="right">ESAY_STAY</marquee>  -->
<div class="main">
    <h1>Owner registration</h1>
    <div class="main1">
      
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form}}
            </table>
            <br>
            <input class="btn" type="submit" value="Register">
        </form>
        <br>
            <h3>Already an User?</h3>
            <br>
            <a href="{% url  'owner:owner_login' %}"><button class="btn">Login</button></a>
    </div>
</div>
</body>
</html>