<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>owner_login</title>
    
</head>
<body>
    <div id="login">
        <h1>Owner_login Page</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit" value="login"><br>
        <a href="{% url 'owner:forgetpswrd' %}">Forget password?</a>
    </form>
        <h1>New user?</h1>
        <a href="{% url 'owner:o_regsiter' %}"><button>Register</button></a>   
    </div>
</body>
</html>