{% extends 'home_page.html' %}

{% block content %}

<hr class="my-4">
  <main>
    <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <h2 class="mb-3">Room delete Details</h2>
        <form class="needs-validation" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="row g-5">
            <div class="">
                <h4>Are you sure to delete room id: {{room.room_id}}</h4>
                <h4>Room id: {{room.room_no}}</h4>
            </div>
         
          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to Delete</button>
        </form>
      </div>
    </div>
</div>
</main>
<hr class="my-4">
{% endblock content %}
