.main{
    border: 2px solid red;
    height: 600;
    width: 400px;
    margin-top: 10%;
    margin-left: 10%;
    background-color: rgb(138, 223, 194);
    align-items: center;
}
h1{
    color: blueviolet;
}
button{
    height: 35px;
    width: 200px;
    font-size: larger;
    /* margin-left: 5%; */

}
button:hover{
    background-color: green;
}
