<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>c_list</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/c_list.css' %}">
    <link rel="shortcut icon" href="{% static 'images/Imagelogo2.jpg' %}">
</head>
<body>
   <div class="main">
    <div id="main1">
        {% if form %}
        <table border="5" id="table">
            <caption><h1>CUSTOMER LIST</h1></caption>
            <tr>
                <th>ID</th>
                <th>FIRST_NMAE</th>
                <th>LAST_NAME</th>
                <th>CONTACT</th>
                <th>AADHAR_NO</th>
            </tr>
            {% for i in form %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.c_contact}}</td>
                <td>{{i.c_aadhaar}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3> Data not found</h3>
        {% endif %}
       </div>
   </div>
    
</body>
</html>