{% extends 'easystay.html' %}
{% block body-content %}
<main>
    <hr class="featurette-divider">

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2 class="featurette-heading fw-normal lh-1">Hostel Gallery</h2>

    <!-- Three columns of text below the carousel -->
    <div class="row">
            {% for img in images%}
                <div class="col-lg-4">
                    <img class="bd-placeholder-img" width="100%" height="200" src="{{img.images.url}}">
                  </div><!-- /.col-lg-4 --> 
            {% endfor %}
    
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <h2 class="featurette-heading fw-normal lh-1">Hostel Details</h2>
    <div class="row featurette">
      <div class="col-md-7">
        <table>        
            <tr><p class="lead">Hostel Name:    <strong>{{hostel.hostel_name|title}}</strong></p></tr>
            <tr><p class="lead">Hostel address: <strong>{{hostel.address|title}}</strong></p></tr>
            <tr><p class="lead">Hostel GST:     <strong>{{hostel.GST|title}}</strong></p></tr>
            <tr><p class="lead">Hostel license: <strong>{{hostel.license|title}}</strong></p></tr>
            <tr><p class="lead">Hostel type_of_hostel:    <strong>{{hostel.type_of_hostel|title}}</strong></p></tr>
            <tr><p class="lead">Hostel hostel_owner_name: <strong>{{hostel.hostel_owner_name|title}}</strong></p></tr>
            <tr><p class="lead">Hostel owner_phone_no:    <strong>{{hostel.owner_phone_no|title}}</strong></p></tr>
            <tr><p class="lead">Hostel hostel_owner_name: <strong>{{hostel.owner_email|title}}</strong></p></tr>
            <tr><p class="lead">Hostel owner_email:       <strong>{{hostel.location|title}}</strong></p></tr>
    </table>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%" height="100%" src="{{hostel.image.url}}">
      </div>
    </div>

    <hr class="featurette-divider">
    <div>
        {% if room_details %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th  scope="col" scope="col" >Room_Details</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>
                        <table class="table" border="2" cellpadding="5" cellspacing="0">
                            <tr>
                                <th  scope="col">Room_num</th>
                                <th  scope="col">Bed Details </th>
                            </tr>
                            {% for j in room_details %}
                            <tr>
                                <td>{{j.room_no}}
                                </td>
                                <td>
                                <table class="table" border="2">
                                    <tr>
                                            <th>Bed_num</th>
                                            <th>Cost</th>
                                            <th>Availability</th>
                                           
    
                                    </tr>
                                    {% for k in bed_details %}
                                   
                                    {% if j == k.room_no %}
                                    <tr> 
                                        <td>{{k.bed_no}}</td>
                                        <td>{{k.bed_cost}}</td>
                                        
                                        <td>{% if k.availability %} <a href="{% url 'customer:booking' hostel=hostel.hostel_id room=j.room_id bed=k.bed_id data1=hostel.hostel_name data2=j.room_no data3=k.bed_no %}"><button class="btn btn-outline-success">Book</button></a> {% else %} <h4>booked</h4> {% endif %}</td>
                    
                                        
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    
                                </table>
                                </td>   
                            </tr>
                            {% endfor %}
                           
                       </table>
                       
                    </td>             
                </tr>
            </tbody>
        </table>
                {% else %}
                <h3>Room details is not avaliable</h3>
                 {% endif %}
            
    </div>
  </div>

</main>
{% endblock body-content %}